/* 5. Product Section : thực hiện style Produc */


/********** Template CSS **********/

 :root {
    --primary: #313230;
    /* background: ; */
    /* #F3BD00;*/
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #244b0c;
    --red: #f50404;
}


/* PHẦN Menu Mobile */


/* nav mobile */

.nav-mobile {
    display: none;
}

.nav-mobile .icon-mobile {
    padding: .5rem;
    font-size: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
}

.nav-mobile .item_menu {
    background: #f1df11;
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    padding-bottom: 1rem;
}

.item_menu ul li a {
    color: #43433e;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05rem;
}

.item_menu ul li a:hover {
    color: #fff;
}

.item_menu form {
    margin: 0 1rem;
    position: relative;
}

.item_menu form input {
    width: 50%;
    border: none;
    background: #fff;
    padding: 1px;
    outline: none;
    border-radius: 12px;
}

.item_menu form button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
}


/* .sub-menu {
    display: block;
} */

.sub-menu {
    /* display: none; */
    /* padding: 60px 50 px 7px; */
    z-index: 1;
    color: #020201;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    /* border-left: 1px solid; */
    /* font-weight: 800; */
}

.sub-menu a {
    /* border-left: #83837b; */
    color: #020201;
    text-decoration: none;
    outline: none;
    padding: 0px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.sub-menu a:hover {
    /* background-color: rgb(249, 246, 246); */
    color: rgb(249, 62, 62);
}

.content-nav:hover .sub-menu {
    display: block;
}


/* End Header mobile  */


/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}

.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

h5.modal-title {
    font-size: 1.5rem;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
}

#cart:hover {
    border-color: #fff;
}


/*  ====================================================BANER  */


/*---------------------
  Banner
-----------------------*/

.carousel-inner img {
    width: 100%;
    height: 250px;
}

.banner {
    height: 500px;
    display: inherit;
}

.banner__text span {
    font-size: 18px;
    color: #ca1515;
    text-transform: uppercase;
}

.banner__text h1 {
    font-size: 80px;
    color: #111111;
    font-family: "Cookie", cursive;
    margin-bottom: 15px;
}

.banner__text a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.banner__text a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
}

.banner__slider {
    text-align: center;
    padding: 150px 0 0;
}

.banner__slider.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    top: 430px;
    width: 100%;
    text-align: center;
}

.banner__slider.owl-carousel .owl-dots button {
    height: 12px;
    width: 12px;
    background: #a1a1a1;
    border-radius: 50%;
    margin-right: 10px;
}

.banner__slider.owl-carousel .owl-dots button.active {
    background: #ca1515;
}

.banner__slider.owl-carousel .owl-dots button:last-child {
    margin-right: 0;
}


/*---------------------
  Trend
-----------------------*/

.trend {
    padding-top: 80px;
    padding-bottom: 50px;
}

.trend__content .section-title h4 {
    font-size: 20px;
}

.trend__content .section-title h4:after {
    bottom: -6px;
}

.trend__item {
    overflow: hidden;
    margin-bottom: 35px;
}

.trend__item__pic {
    float: left;
    margin-right: 25px;
}

.trend__item__text {
    overflow: hidden;
}

.trend__item__text h6 {
    font-size: 14px;
    color: #111111;
    margin-bottom: 5px;
}

.trend__item__text .rating {
    line-height: 18px;
    margin-bottom: 6px;
}

.trend__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
}

.trend__item__text .rating i:last-child {
    margin-right: 0;
}

.trend__item__text .product__price {
    color: #111111;
    font-weight: 600;
}

.trend__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*---------------------
  Services
-----------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 50px;
}

.services__item {
    padding-left: 65px;
    position: relative;
    margin-bottom: 20px;
}

.services__item i {
    font-size: 36px;
    color: #ca1515;
    position: absolute;
    left: 0;
    top: 4px;
}

.services__item h6 {
    color: #111111;
    font-weight: 600;
    margin-bottom: 5px;
}

.services__item p {
    margin-bottom: 0;
}


/*---------------------
  Instagram
-----------------------*/

.instagram__item {
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.instagram__item:hover:after {
    opacity: 1;
}

.instagram__item:hover .instagram__text {
    opacity: 1;
    visibility: visible;
}

.instagram__item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0;
    z-index: -1;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.instagram__text {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.instagram__text i {
    font-size: 30px;
    color: #0d0d0d;
}

.instagram__text a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}


/*---------------------
  Categories
-----------------------*/

.categories {
    overflow: hidden;
    margin-top: 10px;
}

.categories .container-fluid {
    padding-right: 5px;
}

.categories__item {
    height: 314px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.categories__item.categories__large__item {
    height: 638px;
    padding-left: 70px;
}

.categories__item.categories__large__item .categories__text {
    max-width: 480px;
}

.categories__item.categories__large__item .categories__text p {
    margin-bottom: 15px;
}

.categories__text h1 {
    font-family: "Cookie", cursive;
    color: #111111;
    margin-bottom: 5px;
}

.categories__text h4 {
    color: #111111;
    font-weight: 700;
}

.categories__text p {
    margin-bottom: 10px;
}

.categories__text a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.categories__text a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
}


/* ======================================== ============PHẦN CONTENT PRODUCT  =============================================================*/


/* wrapper =========
======================================5.section  Phần Product =================================================*/

div#nz-div {
    border-bottom: 2px solid red;
    margin-bottom: 40px;
    display: block;
}

#nz-div h3.tde {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
}

#nz-div h3.tde:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 20px solid #EA3A3C;
    border-bottom: 0px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: 0px;
    /* right: -20px; */
}

#nz-div h3.tde span {
    background: #EA3A3C;
    padding: 10px 20px 8px 20px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

.sub-cat {
    display: inline-block;
    margin: 0;
    line-height: 45px;
    /* margin-left: 100px; */
    float: right;
}

.pull-right {
    margin-right: 0 !important;
}

.vi-right-link li:first-child {
    margin-left: 0;
}

.vi-right-link li {
    color: #555;
    font-size: 14px;
    margin-left: 15px;
}

.vi-right-link a.vi-more,
.vi-right-link a:hover {
    color: #f20303;
}

.vi-right-link a.vi-more:after {
    content: "f101";
    font-family: FontAwesome;
    margin-left: 4px;
}


/* End Title  */

.image-popup {
    display: flex !important;
}

.set_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.wrapper {
    padding: 0rem;
}

.products ul {
    display: inline-block;
}

.products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
}

.products ul .no-margin {
    margin-right: 0;
}

.products ul .img-product img {
    width: 100%;
}

.content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
}

.content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.main-product .content-product .content-product-deltals .price {
    color: #c7b200;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
}

.content-product .content-product-deltals .price .money {
    vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
    background: #f1df11;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
}


/* ---------------------------------------------------------------------Main Item 
Css Main Home
=================================================== */


/*** Team ***/

.team-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    bottom: 0;
    opacity: 1;
}

.team-item a.btn {
    color: var(--primary);
}

.team-item a.btn:hover {
    color: var(--red);
    background: var(--primary);
    border-color: var(--primary);
}

.team-item a {
    color: #050505;
    text-decoration: none;
}


/*---------------------
  5.Section Product
-----------------------*/

.parallax_ground {
    /* The image used */
    background-image: url("../img/Ground.png");
    /* Full height */
    /* height: 50%; */
    width: 100%;
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.parallax_psnew {
    /* The image used */
    background-image: url("../img/KhungBG16.png");
    /* Full height */
    /* height: 50%; */
    width: 100%;
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 5em !important;
}

.parallax {
    /* The image used */
    background-image: url("../img/banner/banner-1.jpg");
    /* Full height */
    /* height: 50%; */
    /* height: 200px; */
    /* min-height: 300px; */
    /* Create the parallax scrolling effect */
    width: 100%;
    height: 180px;
    opacity: 0.8;
    z-index: 999;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 5em !important;
}

.parallax_new {
    /* The image used */
    /* background: #000; */
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
    background-image: url("..img/KhungBG18.png");
    /* Full height */
    /* height: 50%; 
    min-height: 300px;*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.parallax_main {
    /* The image used */
    /* background: #000; */
    /* position: fixed; */
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 300px;
    opacity: 0.8;
    z-index: 999;
    background-image: url("..img/KhungBG15.png");
    /* Full height */
    /* height: 50%; 
    min-height: 300px;*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.parallax_Girl {
    /* The image used */
    background-image: url("../img/banner/banner-3.jpg");
    /* Full height */
    height: 50%;
    width: 50%;
    /* min-height: 300px; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.product {
    /* padding-top: 10px;
    padding-bottom: 5px; */
    /* padding: 10px 0px 5px; */
    background: inherit;
}


/*---------------------
  Product Details
-----------------------*/

.product-details {
    padding-top: 70px;
    padding-bottom: 50px;
}

.product__details__pic {
    overflow: hidden;
}

.product__details__pic__left {
    width: 22%;
    max-height: 574px;
    float: left;
    overflow-y: auto;
}

.product__details__pic__left .pt {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.product__details__pic__left .pt::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.product__details__pic__left .pt.active::after {
    opacity: 0.3;
}

.product__details__pic__left .pt:last-child {
    margin-bottom: 0;
}

.product__details__pic__left .pt img {
    min-width: 100%;
}

.product__details__slider__content {
    width: calc(78% - 20px);
    float: left;
    margin-left: 20px;
}

.product__details__pic__slider.owl-carousel .owl-nav button {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 22px;
    color: #111111;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    margin-top: -20px;
}

.product__details__pic__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 10px;
}

.product__details__text h3 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.product__details__text h3 span {
    display: block;
    font-size: 14px;
    color: #444444;
    text-transform: none;
    font-weight: 400;
    margin-top: 5px;
}

.product__details__text .rating {
    margin-bottom: 16px;
}

.product__details__text .rating i {
    font-size: 12px;
    color: #e3c01c;
    margin-right: -4px;
}

.product__details__text .rating span {
    font-size: 12px;
    color: #666666;
    margin-left: 5px;
}

.product__details__text p {
    color: #444444;
    margin-bottom: 28px;
}

.product__details__price {
    font-size: 30px;
    font-weight: 600;
    color: #ca1515;
    margin-bottom: 30px;
}

.product__details__price span {
    font-size: 18px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 10px;
    display: inline-block;
}

.quantity {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.quantity>span {
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    float: left;
    margin-top: 14px;
    margin-right: 15px;
}

.pro-qty {
    height: 50px;
    width: 150px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
    padding: 0 20px;
    overflow: hidden;
    display: inline-block;
}

.pro-qty .qtybtn {
    font-size: 14px;
    color: #666666;
    cursor: pointer;
    float: left;
    width: 12px;
    line-height: 46px;
}

.pro-qty input {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    border: none;
    float: left;
    width: 84px;
    text-align: center;
    height: 48px;
}

.product__details__button {
    overflow: hidden;
    margin-bottom: 25px;
}

.product__details__button .cart-btn {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    background: #ca1515;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px 15px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product__details__button ul {
    float: left;
}

.product__details__button ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.product__details__button ul li:last-child {
    margin-right: 0;
}

.product__details__button ul li a {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    padding-top: 1px;
}

.product__details__button ul li a span {
    font-size: 18px;
    color: #666666;
}

.product__details__widget {
    border-top: 1px solid #ebebeb;
    padding-top: 35px;
}

.product__details__widget ul li {
    list-style: none;
    margin-bottom: 10px;
}

.product__details__widget ul li:last-child {
    margin-bottom: 0;
}

.product__details__widget ul li span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #111111;
    width: 150px;
    float: left;
}

.product__details__widget ul li .stock__checkbox {
    overflow: hidden;
}

.product__details__widget ul li .stock__checkbox label {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    color: #666666;
    position: relative;
    cursor: pointer;
}

.product__details__widget ul li .stock__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.product__details__widget ul li .stock__checkbox label input:checked~.checkmark {
    border-color: #ca1515;
}

.product__details__widget ul li .stock__checkbox label input:checked~.checkmark:after {
    border-color: #ca1515;
    opacity: 1;
}

.product__details__widget ul li .stock__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: 5px;
    height: 10px;
    width: 10px;
    border: 1px solid #444444;
    border-radius: 2px;
}

.product__details__widget ul li .stock__checkbox label .checkmark:after {
    position: absolute;
    left: 0px;
    top: -2px;
    width: 11px;
    height: 5px;
    border: solid #ffffff;
    border-width: 1.5px 1.5px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    opacity: 0;
    content: "";
}

.product__details__widget ul li .color__checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.product__details__widget ul li .color__checkbox label.active input~.checkmark:after {
    border-color: #ffffff;
    opacity: 1;
}

.product__details__widget ul li .color__checkbox label:last-child {
    margin-right: 0;
}

.product__details__widget ul li .color__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.product__details__widget ul li .color__checkbox label input:checked~.checkmark:after {
    border-color: #ffffff;
    opacity: 1;
}

.product__details__widget ul li .color__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: -10px;
    height: 20px;
    width: 20px;
    background: #e31e2f;
    border-radius: 50%;
    content: "";
}

.product__details__widget ul li .color__checkbox label .checkmark.black-bg {
    background: #111111;
}

.product__details__widget ul li .color__checkbox label .checkmark.grey-bg {
    background: #e4aa8b;
}

.product__details__widget ul li .color__checkbox label .checkmark:after {
    position: absolute;
    left: 3px;
    top: 5px;
    width: 13px;
    height: 6px;
    border: solid #ffffff;
    border-width: 1.5px 1.5px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    opacity: 0;
    content: "";
}

.product__details__widget ul li .size__btn label {
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0;
}

.product__details__widget ul li .size__btn label:last-child {
    margin-right: 0;
}

.product__details__widget ul li .size__btn label.active {
    color: #ca1515;
}

.product__details__widget ul li .size__btn label input {
    position: absolute;
    visibility: hidden;
}

.product__details__widget ul li p {
    margin-bottom: 0;
    color: #666666;
}

.product__details__tab {
    padding-top: 80px;
    margin-bottom: 65px;
}


/* ================================End Detail Products ================================ */


/* 
.image-popup {}

.image-popup li {
    display: inline-block;
}

.image-popup ul {
    text-align: center;
    width: 100%;
    padding: 350px 100px -15px;
    margin: 100;
} */


/* 
.image-popup ul li a:link { */


/* color: #FFF; */


/* text-decoration: none; */


/* text-transform: uppercase; */


/* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; */


/* 
} */

.filter__controls {
    text-align: right;
    margin-bottom: 50px;
}

.filter__controls li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    color: #111111;
    margin-right: 35px;
    position: relative;
    cursor: pointer;
}

.filter__controls li.active:after {
    opacity: 1;
}

.filter__controls li:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
    opacity: 0;
}

.filter__controls li:last-child {
    margin-right: 0;
}

.product__item {
    margin-bottom: 35px;
    border: 1px solid #83837b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.product__item:hover {
    color: rgb(15, 13, 13);
    -webkit-border-radius: 6px;
    border-bottom: 2px solid #fa381a;
}

.product__hover:hover .product__hover li {
    opacity: 1;
    top: 0;
}

.product__item.sale .product__item__pic .label {
    background: #ca1515;
}

.product__item.sale .product__item__text .product__price {
    color: #ca1515;
}

.product__item__pic {
    height: 360px;
    position: relative;
    overflow: hidden;
}

.product__item__pic .label {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 10px;
}

.product__item__pic .label.new {
    background: #36a300;
}

.product__item__pic .label.stockout {
    background: #111111;
}

.product__item__pic .label.stockblue {
    background: #0066bd !important;
}

.product__item__pic .label.sale {
    background: #ca1515;
}


/* ///////////////////////////////////////////////////////////////////// */

.product__hover {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    text-align: center;
}

.product__hover ul {
    /* background: var(--primary); */
    background: inherit;
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.product__hover li {
    color: #f60303;
    display: inline-block;
    /* //inline-block; */
    line-height: 40px;
    background: inherit;
    /* background: -moz-linear-gradient(top, #ffffff, #4ea100);
    background: -webkit-linear-gradient(top, #ffffff, #4ea100);
    background: linear-gradient(to bottom, #ffffff, #4ea100);
    border: 1px solid #96f866; */
    font-size: 18px;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 6.9;
}

.product__hover a {
    text-decoration: none;
    color: rgb(248, 4, 4);
    display: block;
    opacity: 1.9;
}

.product__hover a:hover {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s; */
    transition: all, 0.5s;
    border-bottom: 2px solid #fa381a;
    opacity: 0.9;
}

.product__hover li:hover a {
    background: #ca1515;
    opacity: 0.9;
}

.product__item:hover .product__hover li:hover .product__hover a:hover {
    display: inline-block;
}


/* Thực hiện hiển thị nội dung trong ảnh sản phẩm về các tính năng bán hàng */


/* ============================================================ */

.product__item__text {
    text-align: center;
    padding-top: 22px;
    text-decoration: none;
}

.product__item__text h6 a {
    font-size: 14px;
    color: #111111;
}

.product__item__text .rating {
    line-height: 18px;
    margin-bottom: 5px;
}

.product__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
}

.product__item__text .rating i:last-child {
    margin-right: 0;
}

.product__item__text .product__price {
    color: #111111;
    font-weight: 600;
}

.product__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
}


/*---------------------
  Contact
-----------------------*/

.contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact__address {
    margin-bottom: 45px;
}

.contact__address h5 {
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact__address ul li {
    list-style: none;
    position: relative;
    margin-bottom: 20px;
}

.contact__address ul li:last-child {
    margin-bottom: 0;
}

.contact__address ul li h6 {
    color: #111111;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact__address ul li h6 i {
    font-size: 16px;
    color: #ca1515;
    margin-right: 5px;
}

.contact__address ul li p {
    margin-bottom: 0;
    font-size: 15px;
    color: #444444;
}

.contact__address ul li span {
    font-size: 15px;
    color: #444444;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

.contact__address ul li span:after {
    position: absolute;
    right: -15px;
    top: 11px;
    content: "|";
    line-height: 0;
}

.contact__address ul li span:last-child {
    margin-right: 0;
}

.contact__address ul li span:last-child:after {
    display: none;
}

.contact__form h5 {
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.contact__form form input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    font-size: 14px;
    color: #444444;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact__form form input::-webkit-input-placeholder {
    color: #444444;
}

.contact__form form input::-moz-placeholder {
    color: #444444;
}

.contact__form form input:-ms-input-placeholder {
    color: #444444;
}

.contact__form form input::-ms-input-placeholder {
    color: #444444;
}

.contact__form form input::placeholder {
    color: #444444;
}

.contact__form form textarea {
    height: 130px;
    width: 100%;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 14px;
    color: #444444;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 14px;
    resize: none;
}

.contact__form form textarea::-webkit-input-placeholder {
    color: #444444;
}

.contact__form form textarea::-moz-placeholder {
    color: #444444;
}

.contact__form form textarea:-ms-input-placeholder {
    color: #444444;
}

.contact__form form textarea::-ms-input-placeholder {
    color: #444444;
}

.contact__form form textarea::placeholder {
    color: #444444;
}

.contact__map {
    height: 780px;
}

.contact__map iframe {
    width: 100%;
}


/* ===========================================================CONTENT MOBILE 240 480 768 ===============================*/


/*mobile*/

@media only screen and (min-width:240px) and (max-width:480px) {
    /* nav */
    nav .content-nav {
        display: none;
    }
    nav {
        position: fixed !important;
        top: 0px;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
    }
    .nav-mobile {
        display: flex;
    }
    .img-nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .img-nav img {
        padding-top: 0.5rem;
        vertical-align: middle;
        width: 90%;
    }
    .content-nav,
    .item_menu form button {
        right: 10px;
    }
    /* wrapper */
    .wrapper {
        padding: 1rem;
    }
    .products {
        margin-top: 3rem;
    }
    .products ul .main-product {
        width: 100%;
    }
    /* modal */
    .modal-content {
        width: 95%;
    }
    .cart-item-title {
        font-size: 0.6em;
    }
    .cart-column {
        margin-right: 0.5em;
    }
    .cart-price {
        margin-right: 1rem;
    }
    #cart {
        margin: .5rem;
        padding: 3px;
    }
}


/*tablet*/

@media (min-width:480px) and (max-width:768px) {
    .wrapper {
        padding: 1.5rem;
    }
    .img-nav img {
        vertical-align: middle;
        width: 100%;
    }
    nav .content-nav ul li a {
        font-size: 12px;
        padding: 0px 8px;
    }
    nav .content-nav {
        width: 100%;
    }
    #cart {
        font-size: 12px;
        margin-left: 0.3rem;
        padding: 0;
    }
    .products ul .main-product {
        width: 31%;
    }
    .main-product .content-product .content-product-deltals .price {
        font-size: 18px;
    }
    .products ul .no-margin {
        margin-right: 1rem;
    }
    .cart-item-title {
        font-size: 0.5em;
    }
    .cart-column {
        margin-right: 0.5em;
    }
    .cart-price {
        margin-right: 1rem;
    }
}


/* =======================================================   FOOTER  ====================================*/

.footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
}

.footer-item .img-footer {
    align-items: center;
    display: flex;
}

.footer-item .img-footer img {
    width: 100%;
}

.footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
}

.footer-item .social-footer li:last-child {
    margin-left: .5rem;
}


/* PHẦN FOOTER */

.footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
}

.footer-item .img-footer {
    align-items: center;
    display: flex;
}

.footer-item .img-footer img {
    width: 100%;
}

.footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
}

.footer-item .social-footer li:last-child {
    margin-left: .5rem;
}


/* 5. Product Section : thực hiện style Produc */


/* KẾT THÚC PHẦN CONTENT  */


/* Thiết kế Css cho Mobile :480p và 768 */


/*tablet*/

@media (min-width:480px) and (max-width:768px) {
    .wrapper padding: 1.5rem;
}

.img-nav img {
    vertical-align: middle;
    width: 100%;
}

nav .content-nav ul li a {
    font-size: 12px;
    padding: 0px 8px;
}

nav .content-nav {
    width: 100%;
}

#cart {
    font-size: 12px;
    margin-left: 0.3rem;
    padding: 0;
}

.products ul .main-product {
    width: 31%;
}

.main-product .content-product .content-product-deltals .price {
    font-size: 18px;
}

.products ul .no-margin {
    margin-right: 1rem;
}

.cart-item-title {
    font-size: 0.5em;
}

.cart-column {
    margin-right: 0.5em;
}

.cart-price {
    margin-right: 1rem;
}


}