<div class="parallax ">

    <div class="ms-8 p-8 text-center shadow-1-strong rounded mb-5">
        <h1>Giới thiệu sản phẩm thời trang </h1>
        <p> Live show fashion online </p>
        <p> Live tream online at FPT-05E-Shop </p>
    </div>

</div>
<section class=" product ">
    <div class="container ">

        <div id="nz-div " class="row tde ">
            <div class="col-lg-4 col-md-4 ">
                <div>
                    <h3 class="tde "><span class="null ">Products {{IDGroups}}</span></h3>
                </div>

            </div>
        </div>

        <div class="row property__gallery " ng-controller="MenController ">
            <div class="col-lg-3 col-md-4 col-sm-6 mix women " ng-repeat="x in DataProdut | filter:{IDGroup: 'Men'} ">
                <div class="product__item ">
                    <div class="product__item__pic set-bg " style="background-image: url( 'img/product/{{x.Images[0]}}' );height: 50vh; ">
                        <div class="label new ">New</div>
                        <ul class="product__hover ">
                            <li>
                                <!-- <a href="#!Detailsp " class="image-popup "><span class="arrow_expand "></span></a></li> -->
                                <li><a href="# "><span class="fa fa-heart "></span></a></li>
                                <li><a href="# "><span class="fa fa-shopping-bag "></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text ">
                        <h6><a href="#!Detailsp " ng-click="FnShowSectionSP() ">{{x.NameSP}}</a></h6>
                        <div class="rating ">
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <div class="product__price ">{{x.Price}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</div>ion>

</div>